extends ../main.layout.pug

block variables
  - var title = 'Обо мне';

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    .container
      header.header
        .header__left
          socials.socials--color--green
           ul.socials__list
              li.socials__item
                a.socials__link(href='//vk.com', target='_blank')
                  svg.socials__icon
                    use(xlink:href='./assets/images/icons/sprite.svg#vk')
              li.socials__item
                a.socials__link(href='//github.com', target='_blank')
                  svg.socials__icon
                    use(xlink:href='./assets/images/icons/sprite.svg#github')
              li.socials__item
                a.socials__link(href='//linkedin.com', target='_blank')
                  svg.socials__icon
                    use(xlink:href='./assets/images/icons/sprite.svg#in')
        .header__right
          button.menu-hamburger
            .menu-hamburger__lines
      .hero__content
        .section-title.section-title--bg--portfolio
        .user.hero__user
          .user__photo(style="background-image: url('./assets/images/photo.jpg');")
          .user__description
            .user__title Елена Галанова
            .user__text Личный сайт веб разработчика
      a.btn-down.hero__btn
        svg.btn-down__icon
          use(xlink:href='./assets/images/icons/sprite.svg#arrow_down')
  main.about
    .triangles.triangles--about
      svg.triangle.triangles__left(viewbox='0 0 100 100', preserveaspectratio='none')
        polygon(points='0 100, 100 100, 0 0')
      svg.triangle.triangles__right(viewbox='0 0 100 100', preserveaspectratio='none')
        polygon(points='0,100 100,0 100,100')
    .about__left
      .about__left-content
        .about__left-title
          h1.title-h1.title-h1--about ОБО МНЕ
        .user-profile
          .user-profile__image
            img.user-profile__avatar(src='./assets/images/photo4.jpg', alt='фотография')
          .user-profile__description
            .user-profile__title
              h2.title-h2 КТО Я
            .user-profile__text.text-content
              p
                | Я живу в городе Люберцы Московской области. Мне 24 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p
                | Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .about__right
      .about__right-content
        .about__right-title
          .title-h2
            | ЧЕМ Я МОГУ БЫТЬ
            br
            |  ВАМ ПОЛЕЗНА
        .about__right-description.text-content
          p
            | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
          .skills
            ul.skills-list
              li.skills-list__item.skills-row
                .skills-row__title Frontend
                ul.skills-row__list
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title HTML5
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title CSS3
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title JavaScript &amp; jQuery
              li.skills-list__item.skills-row
                .skills-row__title Backend
                ul.skills-row__list
                  li.skills-row__item
                   figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title PHP
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title mySQL
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title Node.js &amp; npm
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title Mongo.db
              li.skills-list__item.skills-row
                .skills-row__title WorkFlow
                ul.skills-row__list
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title Git
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title Gulp
                  li.skills-row__item
                    figure.skill
                      svg.skill__figure(viewbox='0 0 100 100', preserveaspectratio='none')
                        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
                        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40')
                      .skill__title Bower
  section.map
    .google-map
    .map__content
      .contacts
        .contacts__title
          h2.title-h2 КОНТАКТЫ
        address.contacts__content
          ul.contacts__list
            li.contacts__item
              .contacts__item-icon
                svg.contacts__item-icon-img
                  use(xlink:href='./assets/images/icons/sprite.svg#skype')
              a.contacts__item-title(href='#') skype_kdn
            li.contacts__item
              .contacts__item-icon
                svg.contacts__item-icon-img
                  use(xlink:href='./assets/images/icons/sprite.svg#envelope')
              a.contacts__item-title(href='mailto:galanova-m@yandex.ru') galanova-m@yandex.ru
            li.contacts__item
              .contacts__item-icon
                svg.contacts__item-icon-img
                  use(xlink:href='./assets/images/icons/sprite.svg#phone')
              a.contacts__item-title(href='tel:+7(925) 301-3527') +7(925) 301-3527
            li.contacts__item
              .contacts__item-icon
                svg.contacts__item-icon-img
                  use(xlink:href='./assets/images/icons/sprite.svg#map_marker')
              a.contacts__item-title(href='#') Люберцы, ул.Комсомольская
  footer.footer
    .footer__top
      .footer-info
        .footer-info__col
          p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
        .footer-info__col
          nav.menu.menu--view--transparent.footer-info__menu
            ul.menu__list
              li.menu__item
                a.menu__link(href='works.html') Мои работы
              li.menu__item
                a.menu__link(href='about.html') Обо мне
              li.menu__item
                a.menu__link(href='blog.html') Блог
              li.menu__item
                a.menu__link(href='auth.html') Авторизация
          .socials.socials--view--transparent
            ul.socials__list
              li.socials__item
                a.socials__link(href='//vk.com', target='_blank')
                  svg.socials__icon
                    use(xlink:href='./assets/images/icons/sprite.svg#vk')
              li.socials__item
                a.socials__link(href='//github.com', target='_blank')
                  svg.socials__icon
                    use(xlink:href='./assets/images/icons/sprite.svg#github')
              li.socials__item
                a.socials__link(href='//linkedin.com', target='_blank')
                  svg.socials__icon
                    use(xlink:href='./assets/images/icons/sprite.svg#in')
        .footer-info__col.text-content
          blockquote
            | Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
            span.text-content__author Martin Golding
    .footer__bot
      .copyright
        small.copyright__text  Елена Галанова | создано с любовью в Loftschool | 2018
