
.works__title {
  position: relative;
  background-color: #faf8f0;
  height: 190px;
  text-align: center;
  padding-top: 50px;
}

.works_header-title {
  opacity: 0.08;
  width: 50%;
}

.works__title-text {
  font-size: 63px;
  font-family: 'BernierRegular', sans-serif;
  &::before {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    margin-right: 5px;
  }
  &::after {
    display: inline-block;
    content: '-';
    font-size: 63px;
    opacity: .6;
    margin-left: 5px;
  }
}

.works {

  width: 100%;

  &__left {
    width: 50%;
    background-color: #f0efe9;
  }
  &__right {
    width: 50%;
    background-color: #efebe0;
  }
}


.works__left{
  text-align: center;
  font-weight: bolder;
}

.work__right-description.text-content{
  color:#6c9c5a;
}

.btn.btn--view--rounded.green{
  background:#6c9c5a;
  color: #faf8f0;
}

.modal-form.modal-form_blured{
  width: 300px;
  height: 250px;
  background-color: rgba(#e1e0dc, .6);
  border-radius: 10px;
}

.works__left, .works__right{
  width: 750px;
  height: 400px;
  display: inline-block;
 
}

.modal-form__input{
  border-radius: 5px;
}

.modal-form__buttons{
  display: inline-block;
}

.down__right, .down__left{
  width: 400px;
  text-align: center;
 display: inline-block;
}

.works__down{
  background-image: url('./assets/images/rock.jpg');
  height: 100%;

}

.green{
  color: #4e8839;
  font-weight: bold;
}

.italic{
  font-style: italic;
}

