@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'Sansus';
  src: url('../fonts/Sansus/sansus-webissimo-regular.woff') format('woff'),
  url('../fonts/Sansus/sansus-webissimo-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

