.blog {
	display: flex;
	padding-top: 40px;
	position: relative;
}

.blog__sidebar {
	width: 25%;
	padding-left: 60px;
}

.blog__content {
	width: 75%;
	padding-left: 80px;
	padding-right: 100px;
}

.title-h1.title-h1--color--white{
	text-align: center;
	color: white;
}