.blog{
    color:#455a64;
    background: #faf8f0; 
}



.profile{
    text-align: center;
}

.social{
    text-align: left;
    width: 200px;
}





    .profile__photo{
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        
        margin-top: 1px;
       
    }

    .sidebar {
        float: left;
        width: 180px;
        padding-top: 40px;
        padding-left: 130px;
    }
    
    aside {
        display: block;
    }
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    
    .menu__item {
        margin-bottom: 24px;
    }
    
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    
    .menu__item-link.is-active, .menu__item-link:hover {
        color: #4e8839;;
    }
    
    .menu__item-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        line-height: 12px;
        letter-spacing: 0.2em;
        padding-left: 37px;
        color: #455a64;
        
    }
    
    
    
    .is-active.menu__item-link--main:before, .menu__item-link--main:hover:before {
        width: 18px;
        height: 18px;
        background-position: -267px -5px;
    }
    
 
    
    .menu__item-link--comments:before {
        width: 21px;
        height: 19px;
        background-position: -117px -5px;
    }
    
    .menu__item-link--team:before {
        width: 23px;
        height: 18px;
        background-position: -295px -5px;
    }

    

    .blog__post__text{
        text-align: left;
    }

    .blog__post{
        padding-left: 400px;
        padding-top: 28px;
        padding-bottom: 50px;
        padding-right: 400px;
    }

    .blog__post__data{
        color:#4e8839;
       
        padding-bottom: 20px;
    }

 