.auth-block__content{
    background-color: rgba(#182d22, .5);
width: 300px;
margin-left: 710px;
margin-top: 200px;
text-align: center;
}


.auth-block{
    color: white;
    background: url(../src/assets/images/forest.jpg) 50% no-repeat;
       background-size: cover;
       position: relative;
       height: 900px;
       width:1800px;
}

.welcome__text{
    position: relative;
    width: 100%;
    display: block;
    padding-top: 250px;
    text-align: center;
}

.welcome__info{
    background-color: #639156;
    border:  #639156;
    color: white;
    display: inline-block;
}

.welcome__info:hover{
    background: #497f39;
}  

.user__pic-img{
    position: relative;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    background: url(.jpg) 50% no-repeat;
}

