.welcome {
	color: white;
	text-align: center;
}

.welcome__box {
	padding-top: 40px;
	width: 300px;
	border-radius: 5px;
	background-color: rgba(#122620, .6);

}

.center-block{
	margin-left: 560px;
	margin-top: 80px;
}

.welcome__social{
	text-align: center;
}
